<mat-expansion-panel fxFlex="500px" class="chi">
    <mat-expansion-panel-header>
        <mat-panel-title>
            4/Apr/2019 - VCH Profile EMR
            <br/>
            Pneumonia due to steptococcus
        </mat-panel-title>
        <!--mat-panel-description>
            Currently {{panelOpenState ? 'open' : 'closed'}}
        </mat-panel-description-->
    </mat-expansion-panel-header>
    <p style="margin-left: 25px;">
        <strong>Recorded by</strong>
        <br/>
    Dr. Douglas Howser
</p>
</mat-expansion-panel>

